# Python
__pycache__/
*.pyc

.venv/

# Ignore training logs and saved artifacts
**/outputs/

# Jupyter checkpoints
**/.ipynb_checkpoints/

# Experiment logs
wandb/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
*.jld2
*.png


.DS_Store
.vscode/